@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Sitecore_Demo.Models.Generic.PageBody>
<div>
    <div class="page-title">
        <h2 class="heading-text">@Editable(Model, x => x.PageTitle)</h2>
    </div>

    <div>
        <span class="content-text">@Editable(Model, x => x.PageBodyText)</span>
    </div>
</div> 